doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        //- meta(name='mobile-web-app-capable' content='yes')
        title= title
        block css
            // bower:css
            link(rel='stylesheet', href='/components/semantic/dist/semantic.min.css')
            // endbower
            link(rel='stylesheet' type='text/css' href='/css/style.css')
        block js
            if ENV_DEVELOPMENT
                script(src='http://localhost:35729/livereload.js')

    body
        block content
        // bower:js
        script(src='/components/jquery/dist/jquery.js')
        script(src='/components/semantic/dist/semantic.min.js')
        // endbower
        script(src='/js/main.js')
        
